<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alert | Quik UI</title>
    <link rel="stylesheet" href="./alert.css" />
    <script
      src="https://kit.fontawesome.com/d07b5a219c.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../../prism.css" />
  </head>

  <body class="docs-body">
    <header class="docs-header flex justify-content-between align-items-center">
      <div class="quik-logo">
        <h1 class="text-36 local-text-peach">
          <a href="../../index.html">Quik UI</a>
        </h1>
      </div>

      <div class="quik-links-group">
        <a
          href="https://github.com/JaswanthReddyPadala/Quik-UI"
          class="text-normal text-24"
          ><i class="fa-brands fa-github"></i
        ></a>
        <a
          href="https://linkedin.com/JaswanthReddyPadala"
          class="text-normal text-24"
          ><i class="fa-brands fa-linkedin"></i
        ></a>
        <a
          href="https://twitter.com/jaswanthreddyp2"
          class="text-normal text-24"
          ><i class="fa-brands fa-twitter"></i
        ></a>
      </div>
    </header>

    <main class="q-main docs-main flex">
      <aside class="docs-sidebar">
        <div class="docs-sidebar_group">
          <h2 class="text-general docs-sidebar_heading text-18">
            Getting Started
          </h2>
          <ul class="docs-sidebar_list text-14">
            <li class="docs-sidebar_list-item local-text-peach">
              <a href="../intro/intro.html">Introduction</a>
            </li>
            <li class="docs-sidebar_list-item local-text-peach">
              <a href="../typography/typography.html">Typography</a>
            </li>
          </ul>
        </div>

        <div class="docs-sidebar_group">
          <h2 class="text-general docs-sidebar_heading text-24">Components</h2>
          <ul class="docs-sidebar_list text-16">
            <li class="docs-sidebar_list-item-active">
              <a href="./alert.html">Alert</a>
            </li>
            <li class="docs-sidebar_list-item">
              <a href="../avatar/avatar.html">Avatar</a>
            </li>
            <li class="docs-sidebar_list-item">
              <a href="../badge/badge.html">Badge</a>
            </li>
            <li class="docs-sidebar_list-item">
              <a href="../button/button.html">Button</a>
            </li>
            <li class="docs-sidebar_list-item">
              <a href="../card/card.html">Card</a>
            </li>
            <li class="docs-sidebar_list-item">
              <a href="../image/image.html">Image</a>
            </li>
            <li class="docs-sidebar_list-item">
              <a href="../input/input.html">Input</a>
            </li>
            <li class="docs-sidebar_list-item">
              <a href="../rating/rating.html">Rating</a>
            </li>
            <li class="docs-sidebar_list-item">
              <a href="../grid/grid.html">Grid</a>
            </li>
<li class="docs-sidebar_list-item">
              <a href="../list/list.html">Lists</a>
            </li>
          </ul>
        </div>
      </aside>

      <div class="docs-content text-general">
        <h1 class="text-36 mb-1">Alerts</h1>
        <hr />
        <p class="text-16 mt-1 mb-1">
          The alert component has 4 variants,
          <span class="local-text-peach">primary</span>
          ,
          <span class="local-text-peach">warning</span>,
          <span class="local-text-peach">error</span> and
          <span class="local-text-peach">success</span>
        </p>
        <!-- Avatar Standard-->
        <div class="docs-content-sub-container">
          <h1 class="text-24">Simple Alert</h1>

          <div class="docs-example-container flex flex-wrap align-items-baseline mt-1 mb-1">
            <div class="alert alert-filled-primary mr-2 mb-1">
              <p>This is a Primary Alert!</p>
            </div>

            <div class="alert alert-filled-warning mr-2">
              <p>This is a Warning Alert!</p>
            </div>

            <div class="alert alert-filled-error mr-2">
              <p>This is a Error Alert!</p>
            </div>

            <div class="alert alert-filled-success">
              <p>This is a Success Alert!</p>
            </div>
          </div>

          <div class="code-snippet-container">
            <script type="text/plain" class="line-numbers language-markup">
              <div class="alert alert-filled-primary">
                  <p>This is a Primary Alert!</p>
              </div>

              <div class="alert alert-filled-warning">
                  <p>This is a Warning Alert!</p>
              </div>

              <div class="alert alert-filled-error">
                  <p>This is a Error Alert!</p>
              </div>

              <div class="alert alert-filled-success">
                  <p>This is a Success Alert!</p>
              </div>
            </script>
          </div>
        </div>

        <!-- Avatar with status -->
        <div class="docs-content-sub-container">
          <h1 class="text-24">Avatar with Status</h1>

          <div class="docs-example-container flex flex-wrap align-items-baseline width-max mt-1 mb-1">
            <div class="alert alert-outline-primary mr-2 mb-1">
              <p>This is a Primary Alert!</p>
            </div>

            <div class="alert alert-outline-warning mr-2">
              <p>This is a Warning Alert!</p>
            </div>

            <div class="alert alert-outline-error mr-2">
              <p>This is a Error Alert!</p>
            </div>

            <div class="alert alert-outline-success">
              <p>This is a Success Alert!</p>
            </div>
          </div>

          <div class="code-snippet-container">
            <script type="text/plain" class="line-numbers language-markup">
              <div class="alert alert-outline-primary">
                  <p>This is a Primary Alert!</p>
              </div>

              <div class="alert alert-outline-warning">
                  <p>This is a Warning Alert!</p>
              </div>

              <div class="alert alert-outline-error">
                  <p>This is a Error Alert!</p>
              </div>

              <div class="alert alert-outline-success">
                  <p>This is a Success Alert!</p>
              </div>
            </script>
          </div>
        </div>
      </div>
      <script src="../../prism.js"></script>
    </main>
  </body>
</html>
